.header-wrapper {
  background: var(--primary-color);
  width: 100%;
}

header {
  color: var(--secondary-color);
  padding: 10px 0;
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

header .name h1 {
  font-family: "Harry P", cursive;
  padding: 0 20px;
}

header nav {
  position: relative;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul .logout a {
  margin-bottom: 0;
}

header nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  font-family: "Harry P", cursive;
}

header nav ul li a:hover,
header nav ul li a.active {
  text-decoration: underline;
  font-weight: bolder;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
}

.burger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: var(--secondary-color);
  margin: 4px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: var(--secondary-color);
  background: var(--primary-color);
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-secondary {
  background: var(--highlight-color);
}

.btn-danger {
  background: #7f1a1a;
}

/* Responsive styles */
@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  header nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    background: var(--primary-color);
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
  }

  header nav ul.active {
    display: flex;
  }

  header nav ul li {
    margin: 10px 0;
    width: 100%;
  }

  header nav ul li a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}
