<%- include('../partials/header') %>

<section class="about">
  <h2>About Harry Potter</h2>
  <p>
    Harry Potter is a wizard known for his adventures at Hogwarts School of
    Witchcraft and Wizardry.
  </p>
</section>

<%- include('../partials/footer') %>
