<%- include('../partials/header') %>

<section class="projects">
  <h2>Projects</h2>
  <ul>
    <li>Defeating Voldemort</li>
    <li>The Triwizard Tournament</li>
    <li>Founding Dumbledore's Army</li>
  </ul>
</section>

<%- include('../partials/footer') %>
